<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>🎈 Balloon Tracker</title>
    <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body style="background-color: antiquewhite; height: 100%">
    <div id="app" class="container-fluid" style="height:100%">
      <div class="row" style="height:65%">
        <div id="map" class="col-sm-9">
          <gmap-map
            :center="mapCenterPos"
            :zoom="12"
            map-type-id="terrain"
            style="width: 100%; height: 100%"
          >
            <gmap-marker
              :position="lastPayloadLocation"
              @click="center=m.position"
              icon="img/balloon.png"
            ></gmap-marker>

            <gmap-marker
              v-if="burstPoint != null && burstPoint != undefined && burstPoint.lat > 0"
              :position="burstPoint"
              icon="img/burst.png"
            ></gmap-marker>

            <gmap-marker
              v-for="(receiverLocation, idx) in receiverLocations"
              :key="receiverLocation.id"
              :position="{
                lat: receiverLocation.lat,
                lng: receiverLocation.lng
              }"
              :icon="getGraphic(idx)"
            >
              <gmap-info-window :options="{disableAutoPan: true}">
                <strong>Balloon Tracker #{{ idx+1 }}</strong><br>
                <strong>Speed: </strong> {{ receiverLocation.speed }} mph<br>
                <i>{{ getMinutesBetween(receiverLocation.date) }} minutes ago</i> 
              </gmap-info-window>
            </gmap-marker>

            <gmap-polyline :path="flightHistory" :options="{strokeColor: 'black', strokeWeight: 3}"></gmap-polyline>
            <gmap-polyline v-if="flightpath.length > 0" :path="flightpath" :options="{strokeColor: '#b7a1a1', strokeWeight: 3}"></gmap-polyline>
          </gmap-map>
        </div>
        <div id="stats" class="col-sm-3">
          <h5>Altitude</h5>
          <p style="font-size: 28pt" v-if="lastPayloadLocation != null">{{ lastPayloadLocation.alt }} meters</p>
          <p style="font-size: 28pt" v-else>--</p>

          <h5>Ascent Rate</h5>
          <p style="font-size: 28pt">{{ altDelta }} m/s</p>

          <h5>Burst Altitude</h5>
          <p style="font-size: 28pt" v-if="burstPoint != null && burstPoint != undefined && burstPoint.lat > 0">{{ burstPoint.alt }} meters</p>
          <p style="font-size: 28pt" v-else>--</p>

          <h5>Ground Speed</h5>
          <p style="font-size: 28pt">{{ groundSpeed }} mph</p>

          <h5>Flight Controller Status</h5>
          <p v-if="isConnectedToFlightServer" style="font-size: 28pt; color:green;">CONNECTED</p>
          <p v-if="!isConnectedToFlightServer" style="font-size: 28pt; color:red;">DISCONNECTED</p>

          <div v-if="isReceiverStation">
            <h5>Local Receiver Status</h5>
            <p v-if="isConnectedToLocalReceiver" style="font-size: 28pt; color:green;">CONNECTED</p>
            <p v-if="!isConnectedToLocalReceiver" style="font-size: 28pt; color:red;">DISCONNECTED</p>
          </div>
        </div>
      </div>

      <div class="row" style="height:30%; margin-top: 10px;" v-if="isReceiverStation">
        <div id="console" class="col-sm-9" style="height:100%; overflow-y: scroll; background-color:white">
          <p v-for="message in dataLog" style="margin-bottom: 0px;"><span class="badge badge-secondary">{{ message[0].getHours() }}:{{ message[0].getMinutes() }}:{{ message[0].getSeconds() }}</span> {{ message[1] }}</p>
        </div>
      </div>
    </div>

    <script src="vue.js"></script>
    <script type="text/javascript" src="vue-google-maps.js"></script>
    <script src="socket.io.js"></script>
    <script type="text/javascript">
      Vue.use(VueGoogleMaps, {
      load: {
        key: 'YOUR-GOOGLE-MAPS-KEY-HERE',
        // libraries: 'places', // This is required if you use the Autocomplete plugin
        // OR: libraries: 'places,drawing'
        // OR: libraries: 'places,drawing,visualization'
        // (as you require)

        //// If you want to set the version, you can do so:
        // v: '3.26',
      },

      //// If you intend to programmatically custom event listener code
      //// (e.g. `this.$refs.gmap.$on('zoom_changed', someFunc)`)
      //// instead of going through Vue templates (e.g. `<GmapMap @zoom_changed="someFunc">`)
      //// you might need to turn this on.
      // autobindAllEvents: false,

      //// If you want to manually install components, e.g.
      //// import {GmapMarker} from 'vue2-google-maps/src/components/marker'
      //// Vue.component('GmapMarker', GmapMarker)
      //// then set installComponents to 'false'.
      //// If you want to automatically install all the components this property must be set to 'true':
      installComponents: true
    })
    var app = new Vue({
      el: '#app',
      data: {
        dataLog: [],
        altDelta: 0,
        groundSpeed: 0,
        burstPoint: {
          lat: 0,
          lng: 0,
          alt: 30000
        },
        isReceiverStation: false,
        isConnectedToFlightServer: false,
        isConnectedToLocalReceiver: false,
        flightHistory: [],
        flightpath: [],
        receiverLocations: [],
        lastPayloadLocation: {
          lat: 40.499659,
          lng: -112.086887,
          alt: 1500
        }
      },
      methods: {
        getGraphic: function(index){
          return "img/current_location/" + index + ".png";
        },
        getMinutesBetween: function(datetime){
          console.log(datetime);
          let diff = Math.abs(new Date() - new Date(datetime));
          console.log("diff " + diff);
          return Math.floor((diff/1000)/60);
        }
      },
      computed: {
        mapCenterPos: function(){
          if(this.flightHistory.length < 1){
            return {
              lat: 41.752701,
              lng: -111.806918,
              alt: 1600
            }
          }
          return this.flightHistory[0];
        }
      }
    })
    </script>
    
    <script>
      // const http = require('http');
      fetch('http://localhost:3000').then(resp => {
        console.log("Client determined be a receiver station.");
        app.isReceiverStation = true;
        const localsocket = io("localhost:3000");
        localsocket.on('rawConsoleUpdate', (update) => {
          app.dataLog.push([new Date(), update]);
          document.getElementById("console").scrollTo(0, document.getElementById("console").scrollHeight+10);
        });

        setInterval(function(){
          if(app.isReceiverStation && localsocket.connected){
            app.isConnectedToLocalReceiver = true;
          }else{
            app.isConnectedToLocalReceiver = false;
          }
        }, 5000);
      })
      .catch(error => {
        console.log("Client determined to not be a receiver station.");
      });

      const socket = io("https://blazerunner44.me:3000");

      socket.on('connect', () => {
        console.log('connected to flight server');
        app.isConnectedToFlightServer = true;
        setInterval(function(){
          if(socket.connected){
            app.isConnectedToFlightServer = true;
          }else{
            app.isConnectedToFlightServer = false;
          }
        }, 5000);
      });
      
      socket.on('receivedGpsUpdate', (update) => {
        app.lastPayloadLocation = update;
        app.flightHistory.push(update);
      });
      socket.on('receivedReceiverLocationUpdate', update => {
        for (var i = 0; i < app.receiverLocations.length; i++) {
          if(app.receiverLocations[i].id == update.id){
            Vue.set(app.receiverLocations, i, update);
            return;
          }
        }
        app.receiverLocations.push(update);
      });
      socket.on('receivedFlightHistory', history => {
        app.flightHistory = history;
      });
      socket.on('altDeltaUpdate', update => {
        app.altDelta = update;
      });
      socket.on('groundSpeedUpdate', update => {
        app.groundSpeed = update;
      });
      socket.on('burstUpdate', burstPoint => {
        app.burstPoint = burstPoint;
      });
      socket.on('updateFlightpath', flightpath => {
        app.flightpath = flightpath;
      });
    </script>
</body>
</html>